__pycache__/
*.pyc
*.w3x
/extracted/
/output/backups/
/output/war3map_ai.j
/output/war3map_ai6.j
/output/war3map_ai6.w3i
/output/war3map_ai8.j
/output/war3map_ai8.w3i
/output/war3map_ai.w3i
/output/growth_policy_test_translation.py
/tools/stormlib/
/tools/stormlib.zip
/tools/pjass.exe
.env
.env.*
